body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0f1115;
	color: #eaeaea;
	line-height: 1.6;
}

header {
	/*text-align: center;*/
	
	padding: 3rem 1.5rem;
	background: linear-gradient(135deg, #1f2933, #111827);
	background-image: url('Images/bg_01.png');
	/*background-attachment: fixed;*/
	background-size: cover;
	background-size: 100% auto;
	background-repeat: no-repeat;
	
	display: grid;
}

header h1 {
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
}

header {
	position: relative;
	background-image: url('Images/bg_01.png');
	background-size: cover;
	background-repeat: no-repeat;
}

/* DAS ist der entscheidende Teil */
.header-content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 3rem 1.5rem;

	display: grid;
	grid-template-columns: 1fr auto;
	gap: 2.5rem;
	align-items: center;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 3rem 1.5rem;
}



.header-text h1 {
	margin: 0;
}

.header-text p {
	margin-top: 1rem;
	max-width: 600px;
}

.header-image img {
	width: 200px;
	border-radius: 8px;
}



section {
	max-width: 1000px;
	margin: auto;
	padding: 3rem 1.5rem;
}

h2 {
	border-top: 2px solid #334155;
	padding-top: 0.5rem;
	margin-top: 1.5rem;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 1.5rem;
	padding-left: 30px;
	padding-right: 30px;
}

.project {
	background-color: #161b22;
	padding: 1.5rem;
	border-radius: 8px;
}

.project h3 {
	margin-top: 0;
}

.project p {
	font-size: 0.95rem;
	color: #d1d5db;
}

.project a {
	display: inline-block;
	margin-top: 0.8rem;
	color: #38bdf8;
	text-decoration: none;
	max-width: 100px;
}

.project a:hover {
	text-decoration: underline;
}

ul {
	padding-left: 1.2rem;
}

footer {
	text-align: center;
	padding: 2rem;
	background-color: #0b0e13;
	font-size: 0.9rem;
	color: #94a3b8;
}

.row {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align:top
}

button {
	background-image: url(../Images/UI/B1_a.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100%;
	height: 65px;
	width: 100px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	image-rendering: pixelated;
}
button:hover{
	background-image: url(../Images/UI/B1_b.png);
}

button span {
	display: inline-block;
}
button:hover span {
	transform: translateY(5px);
}

			
.Nav {
	position: fixed;
	background-color: black;
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	z-index: 4000;
}

a.NavContent {
	margin-left: 3%;
	margin-right: 3%;
}

button.Info{
	font-size: 40px;
}